#checkout .payment-option-label input {
	display: none;
}
#checkout .checkout_title {
	text-align:center;
	margin:15px;
}
.payment-option-label label {
	float: left;	
}
.payment-option-label label input[type="radio"]:checked+div {
	background: #fff;
}
.payment-option-label label input[type="radio"]:checked+div:before {
	border-radius: 21px;
	content: "\2713";
	position: relative;
	font-weight: 400;
	background: 0 0;
	color: #fff;
	font-size: 19px;
	text-align: center;
	margin: auto;
	line-height: 1;
	vertical-align: top;
	position: absolute;
	border: 1px solid;	
	width: 20px;
	height: 20px;
	background-color: transparent;
	background-image: linear-gradient(220deg, #174e90 0%, #174e90 100%);
	top: -10px;
    right: -10px;
}
.payment-option-label label div {
	position: relative;
	margin: 10px 0;
	cursor: pointer;
	border: 1px solid transparent;
	padding: 10px;
	border-radius: 5px;
}
#visa-button-container,
#snap-checkout-button {
	clear: both;
}
#snap-checkout-button img {
	/*	background: #174e90;*/
}
div#visa-button-container button,
#snap-place-order-button button {
	background: #174e90 !important;
	color: #fff !important;
	border: 0;
	border-radius: 50px;
	height: 55px;
	width: 250px;
	font-size: 20px;
	box-shadow: 0 0 4px #174e90;
}
#snap-place-order-button button {
	display: initial !important;
}
#snap-place-order-button {
	text-align: left;
	margin-bottom: 20px;
}
p.wc_snap_error {
	margin: 10px 0;
	border: 1px solid #F44336;
	padding: 10px;
	border-radius: 5px;
	background: antiquewhite;
	color: #F44336;
}